<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Tiger Party</title>

    <!-- FIXED: Correct CSS path (DO NOT use '../static') -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
    
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="site-title">Tiger Party</h1>

        <div class="wrapper">
            <form method="POST" novalidate>
                <h1>Register</h1>
                {{ form.hidden_tag() }}

                <div class="input-box">
                    {{ form.username(class_="form-control", placeholder="username") }}
                    <i class='bx bx-user-circle'></i>
                </div>

                <div class="input-box">
                    {{ form.password(class_="form-control", placeholder="password") }}
                    <i class='bx bx-lock'></i>
                </div>

                <button type="submit" class="btn">Register</button>

                {% if val %}
                    <div class="alert alert-danger">{{ val }}</div>
                {% endif %}
            </form>

            <p class="create-account-link">
                Already have an account?  <a href="{{ url_for('startPage') }}">Login</a>
            </p>
        </div>
    </div>
</body>
</html>